body {
  box-sizing: border-box;
  margin: 0;
}
.Mailinfo-wrapper {
  width: 100%;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
}
.Mailinfo-wrapper label {
  padding: 0.3rem 0.2rem;
  border: 2px solid red;
  display: flex;
  align-items: center;
}

.Mailinfo-wrapper .Mailinfo-input {
  flex: 1 1 auto;
  padding: 0.45rem 0.2rem;
}

.Mailinfo-wrapper .Mailinfo-input-title {
  margin-left: 1.8rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}
