body {
  margin: 0;
  box-sizing: border-box;
}
.Mypage-container {
  width: 60%;
  padding: 2rem 5rem;
  margin: 0 auto;
  border: 1px solid black;
}
.Mypage-container .tab-wrapper {
  width: 70%;
  margin: 200px auto;
  padding: 2rem 3rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}
.Mypage-container .styledTabContent-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 5px solid purple;
}

.Mypage-container span.tab-divider {
  font-size: 1.5rem;
}

.Mypage-container span.tab-text {
  cursor: pointer;
}

.Mypage-container .tab-text,
.tab-divider {
  margin-right: 15px;
}
.Mypage-container img.emptyImg {
  width: 100%;
  opacity: 0.4;
  border: 1px solid red;
}
.Mypage-container p.no-logs {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: gray;
}
.Mypage-container .active-tabs {
  font-weight: bold;
  color: blueviolet;
}
.Mypage-container .active-content {
  display: block;
  flex: 1 1 auto;
}
.Mypage-container .inactive-content {
  display: none;
}

/*비밀번호 변경*/
.Mypage-container .form-renewPw {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
.Mypage-container .p-renew-pw {
  border: 1px solid green;
  flex: 1 1 auto;
  padding: 0.25em 1em;
}
.Mypage-container .input-renew-pw {
  max-width: 200px;
  margin-left: 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
  border: 0.115em solid gray;
}
.Mypage-container span.span-alert {
  margin-left: 1em;
  font-size: 0.75em;
}
.Mypage-container span.unavailable {
  color: tomato;
}
.Mypage-container span.available {
  color: green;
}
.Mypage-container button.btn-submit {
  border: none;
  margin-top: 1rem;
  padding: 0.55em 1em;
  border-radius: 3px;
  background-color: lightgray;
}
.Mypage-container button.btn-submit:hover {
  cursor: pointer;
}
.Mypage-container button.btn-submit:active {
  background-color: palevioletred;
  color: white;
}
